<div class="top-bar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-md-block d-none">
        <p>Contact us on +420 777 555 333 or hello@universal.com.</p>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-md-end justify-content-between">
          <ul class="list-inline contact-info d-block d-md-none">
            <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>
          <div class="login"><a href="#" data-toggle="modal" data-target="#login-modal" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Sign In</span></a><a href="customer-register.html" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Sign Up</span></a></div>
          <ul class="social-custom list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top bar end-->
<!-- Login Modal-->
<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="login-modalLabel" class="modal-title">Customer Login</h4>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form action="customer-orders.html" method="get">
          <div class="form-group">
            <input id="email_modal" type="text" placeholder="email" class="form-control">
          </div>
          <div class="form-group">
            <input id="password_modal" type="password" placeholder="password" class="form-control">
          </div>
          <p class="text-center">
            <button class="btn btn-template-outlined"><i class="fa fa-sign-in"></i> Log in</button>
          </p>
        </form>
        <p class="text-center text-muted">Not registered yet?<a href="customer-register.html"><strong>Register now</strong></a></p>
      </div>
    </div>
  </div>
</div>
<!-- Login modal end-->
<!-- Navbar Start-->
<header class="nav-holder make-sticky">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
    <div class="container"><a href="/home" class="navbar-brand home"><img src="../../assets/img/logo.png" alt="Universal logo" class="d-none d-md-inline-block"><img src="../../assets/img/logo-small.png" alt="Universal logo" class="d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown active"><a href="home" data-toggle="dropdown">Home<b class="caret"></b></a>
          </li>
          <li class="nav-item dropdown"><a href="about" data-toggle="dropdown">About<b class="caret"></b></a>
          </li>
          <li class="nav-item dropdown"><a href="blog" data-toggle="dropdown">Blog<b class="caret"></b></a>
          </li>
          <li class="nav-item dropdown"><a href="contact" data-toggle="dropdown">Contact<b class="caret"></b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
